.node {
  width: 1vw;
  height: 1vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline-width: 1px;
  outline-color: black;
}

.node#start {
  background-color: #2adb91;
}
.node#end {
  background-color: red;
}
.node#wall {
  background-color: black;
}
.node#searched {
  background-color: yellow;
}
.node#solution {
  background-color: #2adb91;
}
