
:root {
  --aeroblue: #f5fffb;
  --richblack: #0c0e0e;
  --lightaquamarine: #2adb91;
}
html {
  background-color: var(--richblack);
  color: var(--aeroblue)
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.container#controls {
  margin: 10px;
}
.container .item {
  display: flex;
  text-align: center;
  justify-content: center;
}

.grid {
  margin: 10px;
  display: grid;
  grid-template-rows: repeat(50, 1fr);
  column-gap: 0px;
}
.item .grid{
  display: inline-grid;
}