
:root {
  --aeroblue: #f5fffb;
  --richblack: #0c0e0e;
  --lightaquamarine: #2adb91;
  overflow:auto;
}
html {
  background-color: var(--richblack);
  color: var(--aeroblue);
  width:100% ;
  height: 50%;
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.container#controls {
  margin: 10px;
}
.container .item {
  display: flex;
  text-align: center;
  justify-content: center;
}

.grid {
  margin: 10px;
}
button {
 background-color: var(--lightaquamarine);
 margin: 10px;
}
button:hover {
  background-color:#26c784;
}
button:active {
  background-color:#2e9469;
}