
:root {
  --aeroblue: #f5fffb;
  --richblack: #0c0e0e;
  --lightaquamarine: #2adb91;
}
html {
  background-color: var(--richblack);
  color: var(--aeroblue)
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.container#controls {
  margin: 10px;
}
.container .item {
  display: flex;
  text-align: center;
  justify-content: center;
}

.grid {
  margin: 10px;
}
.nodeRow {
  display: flex;
}
.node {
  width: 10px;
  height: 10px;
  background-color: white;
}